.CustomerRoom {
  --video-actions-height: 3em;

  display: flex;
  height: 100%;
  width: 100%;

  &__chat-area {
    width: 20%;
    min-width: 350px;
    position: relative;
  }

  &__customer,
  &__technician,
  &__shared-screen {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
  }

  &__video-track-title {
    @apply text-4xl mb-5;
  }

  &__chat-title {
    margin-top: calc(var(--spacing) / 2);
    text-align: center;
    margin-bottom: 1rem;

    > h1 {
      @apply text-4xl;
    }
  }

  // &__oss-case-container {
  //   @apply text-brand-primary-dark mx-4;
  // }

  &__video-track {
    width: 100%;
    flex: 1 1 auto;
  }

  &__video-track-actions {
    display: flex;
    align-items: flex-end;
    height: 3em;

    > * {
      flex: 0 1 auto;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  &__video-tracks {
    width: 80%;
    position: relative;
    border: calc(var(--spacing) / 2) solid transparent;
  }

  &__chat-actions,
  &__chat-enable {
    display: none;
  }
}

@media (orientation: landscape) {
  .CustomerRoom__shared-screen {
    top: 50%;
    left: 62.5%;
    width: calc(75% - var(--spacing));
    height: calc(100% - var(--spacing));

    /* Phone */
    @media (max-device-height: 600px) {
      left: 37.5%;
    }
  }

  .CustomerRoom__video-tracks {
    &--screen-not-shared {
      .CustomerRoom__customer,
      .CustomerRoom__technician {
        width: calc(50% - var(--spacing));
        height: calc(100% - var(--spacing));
        top: 50%;
      }

      .CustomerRoom__technician {
        left: 25%;
        padding-bottom: var(--video-actions-height);
      }

      .CustomerRoom__customer {
        left: 75%;
      }

      .CustomerRoom__shared-screen {
        transform: translate(-50%, -50%) scale(0, 0);
      }
    }

    &--screen-shared {
      .CustomerRoom__customer,
      .CustomerRoom__technician {
        left: 12.5%;
        width: calc(25% - var(--spacing));

        /* Phone */
        @media (max-device-height: 600px) {
          left: 87.5%;
        }
      }

      .CustomerRoom__technician {
        top: calc(25% - var(--video-actions-height) / 4);
        height: calc(50% - var(--spacing) - var(--video-actions-height) / 2);
      }

      .CustomerRoom__customer {
        top: calc(75% - var(--video-actions-height) / 4);
        height: calc(50% - var(--spacing) + var(--video-actions-height) / 2);
      }

      .CustomerRoom__shared-screen {
        transform: translate(-50%, -50%) scale(1, 1);
      }
    }
  }
}

@media (orientation: portrait) {
  .CustomerRoom__shared-screen {
    top: 25%;
    left: 50%;
    width: calc(100% - var(--spacing));
    height: calc(50% - var(--spacing));
  }

  .CustomerRoom__video-tracks {
    &--screen-not-shared {
      .CustomerRoom__customer,
      .CustomerRoom__technician {
        width: calc(100% - var(--spacing));
        left: 50%;
      }

      .CustomerRoom__technician {
        top: calc(25% - var(--video-actions-height) / 4);
        height: calc(50% - var(--spacing) - var(--video-actions-height) / 2);
      }

      .CustomerRoom__customer {
        top: calc(75% - var(--video-actions-height) / 4);
        height: calc(50% - var(--spacing) + var(--video-actions-height) / 2);
      }

      .CustomerRoom__shared-screen {
        transform: translate(-50%, -50%) scale(0, 0);
      }
    }

    &--screen-shared {
      .CustomerRoom__customer,
      .CustomerRoom__technician {
        width: calc(50% - var(--spacing));
        height: calc(50% - var(--spacing));
        top: 75%;
      }

      .CustomerRoom__technician {
        left: 25%;
        padding-bottom: var(--video-actions-height);
      }

      .CustomerRoom__customer {
        left: 75%;
      }

      .CustomerRoom__shared-screen {
        transform: translate(-50%, -50%) scale(1, 1);
      }
    }
  }
}

// Narrow screen = hide chat area
@media (max-width: 1024px) {
  .CustomerRoom {
    &__chat-title {
      @apply text-xl text-center;

      // Hide when keyboard covers too much of the screen.
      // This makes the chat input visible at all times
      @media (max-height: 200px) {
        display: none;
      }
    }

    &__chat-area {
      position: fixed;
      top: 100%;
      width: 100%;
      height: 100%;
      transition: top 1s ease;

      &--visible {
        top: 0%;
      }
    }

    &__chat-enable {
      display: initial;
    }

    &__chat-actions {
      display: flex;
      flex-direction: column;
      padding: var(--spacing);

      > * {
        flex: 1 1 auto;
      }

      // Hide when keyboard covers too much of the screen.
      // This makes the chat input visible at all times
      @media (max-height: 200px) {
        display: none;
      }
    }

    &__video-tracks {
      width: 100%;
    }

    &__video-track-actions {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 3em;
    }
  }
}

/* Portrait/Landscape Phone */
@media (max-width: 768px), (max-height: 768px) and (orientation: landscape) {
  .CustomerRoom {
    &__video-track-title {
      @apply text-white font-normal text-sm absolute top-2 left-2;
      width: calc(100% - 5rem);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      z-index: 1;
      text-shadow: -1px 0 2px rgba(0, 0, 0, 0.4), 1px 0 2px rgba(0, 0, 0, 0.4),
        0 -1px 2px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.4);
    }
  }
}
