:root {
  --spacing: 2em;
  --video-actions-height: 3em;
}

.TechRoom {
  display: flex;
  height: 100%;

  &__chat-area {
    width: 20%;
    position: relative;
  }

  &__customer,
  &__technician,
  &__shared-screen {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
  }

  &__video-track {
    width: 100%;
    flex: 1 1 auto;
  }

  &__video-track-actions {
    display: flex;
    align-items: flex-end;
    height: 3em;
    white-space: nowrap;
    overflow: hidden;

    > * {
      flex: 0 1 auto;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  &__video-tracks {
    flex: 1 1 80%;
    position: relative;
    border: calc(var(--spacing) / 2) solid transparent;
  }
}

.TechRoom__video-tracks {
  .TechRoom__technician {
    left: 17.5%;
    top: calc(25%);
    width: calc(35% - var(--spacing));
    height: calc(50% - var(--spacing));
  }

  .TechRoom__shared-screen {
    left: 17.5%;
    top: calc(75%);
    width: calc(35% - var(--spacing));
    height: calc(50% - var(--spacing));
  }

  .TechRoom__customer {
    top: 50%;
    left: 67.5%;
    width: calc(65% - var(--spacing));
    height: calc(100% - var(--spacing));
    transform: translate(-50%, -50%) scale(1, 1);
  }
}
