<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,viewport-fit=cover">
  <meta name="theme-color" content="#000000" />
  <base href="/" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <noscript> You need to enable JavaScript to run this app. </noscript>
  <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
</body>

</html>