.ChatInput {
  height: fit-content;
}

.ChatInput__InputForm {
  @apply p-4 flex items-end;
}

.ChatInput__InputTextField {
  @apply rounded-md px-3 py-1 md:text-lg;
  font-size: 16px;
  line-height: 20px;
  flex: 1;
  width: 0px;
  border: 1px solid #acacac;
}

.ChatInput__BtnSendContent {
  @apply rounded-md bg-brand-blue text-white font-medium px-3 py-1 ml-2 leading-6 md:leading-7 border border-brand-blue;
  line-height: 20px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
