.TracksDisabledIndicator__mic-muted-indicator,
.TracksDisabledIndicator__camera-off-indicator {
  z-index: 2;
  color: white;
  border-radius: 50%;

  @apply absolute p-1 md:p-2 bg-brand-primary-dark;

  > svg {
    @apply w-4 h-4 md:w-6 md:h-6;

    display: block;
  }
}

.TracksDisabledIndicator__mic-muted-indicator {
  @apply top-2 right-2;
}

.TracksDisabledIndicator__camera-off-indicator {
  @apply top-2 right-10 md:right-14;
}
